/**********************************
* Auteur : Alexandre Jaboouley
* Ecole Centrale Marseille
* WebTrack
***********************************/

#header h1{
    color: orange;
    text-decoration:underline;
    text-transform: uppercase;
    text-align: center;
}

a{
    text-decoration: underline;
    color:orange;
}
.EquipeFNC {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

.JoueurLOL,figcaption{
    width: 200px;
    height: auto;
    text-align: center;
    opacity: 1;
}
